* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  margin: auto 0;
}

.box {
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 10px;
  text-align: center;
  margin: 60px;
  padding: 40px;
  animation-name: circle;
  position: relative;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function: linear;
}

@keyframes circle {
  0% {
    left: 0;
  }

  25% {
    left: 1300px;
    top: 0;
    transform: rotate(60deg);
  }

  50% {
    background-color: yellow;
    top: 500px;
    left: 1300px;
    transform: rotate(120deg);
  }

  75% {
    left: 0;
    top: 500px;
    transform: rotate(210deg);
  }

  100% {
    top: 0;
    left: 0;
    background-color: green;
    transform: rotate(360deg);
  }
}
